{% extends 'base-layout.html.twig' %}

{% block title %}Direction{% endblock %}
{% block header %}Examen{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block body %}
<div class="card shadow-sm">
    <div class="card-header card-header-sm">
        <h3 class="card-title"> {{ title | default('Gestion des délibérations') }}</h3>
        <div class="card-toolbar">
            <a href="{{ path('app_direction_deliberation_historique') }}" class="btn btn-main btn-sm">
                <i class="bi bi-plus-square text-light"></i>
                Historique
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <div id="grid_app_direction_deliberation" class="grid-dt-wrapper">Chargement....</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block java %}
    <script src="{{ asset('assets/js/datatables.js') }}"></script>
    <script> 
        $(function() { 
              $('#grid_app_direction_deliberation').initDataTables({{ datatable_settings(datatable) }}, {
                  searching: true,
                  ajaxUrl: "{{ path(app.request.attributes.get('_route')) }}",
                  language: {
                      url: asset_base_path + "/js/i18n/French.json"
                  }
              });
        });
    </script>
{% endblock %}
