<div class="modal fade" id="exampleModalSizeSm1" data-class="modal-sm" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeSm" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <div class="btn btn-icon btn-sm  ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x">
                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body text-center">
                <img src="{{ asset('assets/global/img/loading-spinner-grey.gif') }}" alt="" class="loading">
                <span>
                &nbsp;&nbsp;Chargement des données...
                </span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalBordereau"  data-class="modal-sm" style="z-index: 90000" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeSm" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" </h5> 
                <div class="btn btn-icon btn-sm ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body text-center">
                <img src="{{ asset('assets/global/img/loading-spinner-grey.gif') }}" alt="" class="loading">
                <span>
                &nbsp;&nbsp;Chargement des données...
                </span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalSizeLg1"  data-class="modal-sm" style="z-index: 9000" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header good">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <div class="btn btn-icon btn-sm  ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x">
                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body text-center">
                <img src="{{ asset('assets/global/img/loading-spinner-grey.gif') }}" alt="" class="loading">
                <span>
                &nbsp;&nbsp;Chargement des données...
                </span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-lg"  data-class="modal-lg" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <div class="btn btn-icon btn-sm  ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x">
                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body text-center">
                <img src="{{ asset('assets/global/img/loading-spinner-grey.gif') }}" alt="" class="loading">
                <span>
                &nbsp;&nbsp;Chargement des données...
                </span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalSizeLg2"  data-class="modal-lg" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <div class="btn btn-icon btn-sm  ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x">
                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body text-center">
                <img src="{{ asset('assets/global/img/loading-spinner-grey.gif') }}" alt="" class="loading">
                <span>
                &nbsp;&nbsp;Chargement des données...
                </span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalSizeLg22" data-class="modal-dialog-centered modal-lg" style="z-index: 9000" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-stacked" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <div class="btn btn-icon btn-sm  ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x">
                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body text-center">
                <img src="{{ asset('assets/global/img/loading-spinner-grey.gif') }}" alt="" class="loading">
                <span>
                &nbsp;&nbsp;Chargement des données...
                </span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalSizeSm2" data-class="modal-dialog modal-xl"  data-class="modal-xl" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeSm" aria-hidden="true">
    <div class="modal-dialog  modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <div class="btn btn-icon btn-sm  ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x">
                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body text-center">
                <img src="{{ asset('assets/global/img/loading-spinner-grey.gif') }}" alt="" class="loading">
                <span>
                &nbsp;&nbsp;Chargement des données...
                </span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-xl" data-class="modal-dialog modal-xl"  data-class="modal-xl" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-xl" aria-hidden="true">
    <div class="modal-dialog  modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modallabelxl"></h5>
                <div class="btn btn-icon btn-sm  ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x">
                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body text-center">
                <img src="{{ asset('assets/global/img/loading-spinner-grey.gif') }}" alt="" class="loading">
                <span>
                &nbsp;&nbsp;Chargement des données...
                </span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalSizeNormal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeSm" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <div class="btn btn-icon btn-sm  ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x">
                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body text-center">
                <img src="{{ asset('assets/global/img/loading-spinner-grey.gif') }}" alt="" class="loading">
                <span>
                &nbsp;&nbsp;Chargement des données...
                </span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-lg2"  data-class="modal-lg" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-lg2" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <div class="btn btn-icon btn-sm  ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x">
                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body text-center">
                <img src="{{ asset('assets/global/img/loading-spinner-grey.gif') }}" alt="" class="loading">
                <span>
                &nbsp;&nbsp;Chargement des données...
                </span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-lg4"  data-class="modal-lg" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-lg3" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <div class="btn btn-icon btn-sm  ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x">
                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body text-center">
                <img src="{{ asset('assets/global/img/loading-spinner-grey.gif') }}" alt="" class="loading">
                <span>
                &nbsp;&nbsp;Chargement des données...
                </span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-lg3"  data-class="modal-lg" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-lg3" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoConteneurIm"></h5>
                <div class="btn btn-icon btn-sm  ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x">
                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body text-center">
                <img src="{{ asset('assets/global/img/loading-spinner-grey.gif') }}" alt="" class="loading">
                <span>
                &nbsp;&nbsp;Chargement des données...
                </span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="fullscreen"  data-class="modal-fullscreen" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="infoConteneurIm" aria-hidden="true">
    <div class="modal-dialog  modal-fullscreen" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fullscreen-label"></h5>
                <div class="btn btn-icon btn-sm  ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x text-white">
                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body text-center">
                <img src="{{ asset('assets/global/img/loading-spinner-grey.gif') }}" alt="" class="loading">
                <span>
                &nbsp;&nbsp;Chargement des données...
                </span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-small"  data-class="modal-sm" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-sm" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-sm-label"></h5>
                <div class="btn btn-icon btn-sm  ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x">
                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body text-center">
                <img src="{{ asset('assets/global/img/loading-spinner-grey.gif') }}" alt="" class="loading">
                <span>
                &nbsp;&nbsp;Chargement des données...
                </span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalHabilitation"  data-class="modal-dialog-centered modal-lg" style="z-index: 9000" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalHabilitation" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalHabilitationLabel"></h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body text-center">
                <img src="{{ asset('assets/global/img/loading-spinner-grey.gif') }}" alt="" class="loading">
                <span>
                &nbsp;&nbsp;Chargement des données...
                </span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-stacked"  data-class="modal-dialog-centered modal-lg" style="z-index: 9000" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-stacked" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-stacked-label"></h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body text-center">
                <img src="{{ asset('assets/global/img/loading-spinner-grey.gif') }}" alt="" class="loading">
                <span>
                &nbsp;&nbsp;Chargement des données...
                </span>
            </div>
        </div>
    </div>
</div>

<div class="modal bg-body fade" tabindex="-1" id="kt_modal_full_screen">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content shadow-none">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-fullscreen-title"></h5>
                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-2x"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <img src="{{ asset('assets/global/img/loading-spinner-grey.gif') }}" alt="" class="loading">
                <span>
                &nbsp;&nbsp;Chargement des données...
                </span>
            </div>
        </div>
    </div>
</div>