{#{% extends 'base-layout.html.twig' %}

{% block title %}Liste des niveau_etudiants{% endblock %}
{% block header %}niveau_etudiants{% endblock %}
{% block breadcrumb %}{% endblock %}#}
{% block body %}
    <div class="card shadow-sm">
        <div class="card-header card-header-sm">
            <h3 class="card-title"> {{ titre  }}</h3>
            <div class="card-toolbar">
                {# <a href="{{ path('app_comptabilite_niveau_etudiant_new') }}" class="btn btn-main btn-sm"
                data-bs-toggle="modal" data-bs-target="#modal-lg">
                <i class="bi bi-plus-square text-light"></i>
                Nouveau
            </a>#}
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <div id="grid_app_comptabilite_niveau_etudiant_preinscription" class="grid-dt-wrapper">Chargement....</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block java %}
    <script src="{{ asset('assets/js/datatables.js') }}"></script>
    <script>
        $(function() {
            $('#grid_app_comptabilite_niveau_etudiant_preinscription').initDataTables({{ datatable_settings(datatable) }}, {
                searching: true,
                ajaxUrl: "{{ path('app_comptabilite_niveau_etudiant_preinscription_index',{'etat':etat}) }}",
                language: {
                    url: asset_base_path + "/js/i18n/French.json"
                }
            });
        });
    </script>
{% endblock %}
