
    <select
            id="{{ datatable.name }}-column-{{ column.index }}"
            data-search-column-index="{{ column.index }}"
            class="has-select2 select2-filter d-block" data-index="{{ column.index }}"
    >
        
        {% if column.filter.placeholder != null %}
            <option class="placeholder">{{ column.filter.placeholder|trans }}</option>
        {% endif %}
        {% for key, choice in column.filter.choices %}
            <option value="{{ key }}">{{ choice }}</option>
        {% endfor %}
    </select>
    <script>
        init_select2('#{{ datatable.name }}-column-{{ column.index }}');
    </script>

